{% extends "base.html" %}
{% block title %}{{ SITENAME }} | {{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content">
    <div class="row col-12 mx-auto">

        <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div class="my-3">
                <div class="fs-1">{{ article.title }}</div>
                {% import 'translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
                {% set article_date = article.date | strftime('%Y/%m/%d') %}
                {# {% set article_modified = article.modified | strftime('%Y/%m/%d') %} #}
                <div class="text-muted mb-3 fs-6">
                    {{ article_date }}
                    {# {% if article_date != article_modified %}- Updated: {{ article_modified }} {% endif %} #}
                    <!-- {% if article.authors %} -
                        {% for author in article.authors|sort %}
                        <a class="text-muted text-decoration-none" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                        {% endfor %}
                        {% endif %} -->
                    {% if article.readtime %}- {{article.readtime.minutes}} min{% endif %}
                </div>
                <div class="text-break">
                    {{ article.content }}
                </div>
                <div class="admonition">
                    <p>Author: {{ article.author }}</p>
                    <p>Link: <a href="{{ SITEURL }}/{{ article.url }}">{{ SITEURL }}/{{ article.url }}</a> </p>
                    <p>Copyright: All articles in this blog are licensed under <a class="text-decoration-none text-black-50" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a>.</p>
                </div>
                <div class="pt-3">
                    {% if article.tags %}
                    {% for tag in article.tags %}
                    <a class="badge link-dark text-decoration-none border" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e
                        }}</a>
                    &MediumSpace;
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>

            {% include 'plugin/comment.html' %}

        </div>
    </div>

</section>
{% endblock %}