{% extends "base.html" %}
{% block content %}
<section id="content">
    <div class="row col-12 mx-auto">

        <div class="mx-auto col-12 col-md-8 col-lg-6 col-xl-5">
            {% block content_title %}

            {% endblock %}
            <div class="row">
                {% for article in articles_page.object_list %}
                <div class="card w-100 my-2 px-0 shadow-sm">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="fs-4 fw-bold text-body text-decoration-none stretched-link"
                                href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                title="{{ article.title|striptags }}">{{ article.title }}</a>
                        </div>
                        <div class="text-secondary card-subtitle fs-6">
                            {{ article.date.strftime("%Y/%m/%d") }}
                            <!-- {% if article.authors %} -
                            {% for author in article.authors|sort %}
                            <a class="text-secondary text-decoration-none" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                            {% endfor %}
                            {% endif %} -->
                            {% if article.readtime %}- {{article.readtime.minutes}} min{% endif %}
                        </div>
                        <p class="card-text">{{ article.summary | striptags }}</p>
                        <div class="row">
                            <div class="col-9">
                                {% if article.tags %}
                                {% for tag in article.tags %}
                                <a class="badge link-dark text-decoration-none border"
                                    style="z-index: 1;position: relative;" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e
                                    }}</a>
                                &MediumSpace;
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            {% include 'pagination.html' %}
        </div>
    </div>
</section>
{% endblock content %}