{% if DEFAULT_PAGINATION %}
<nav>
    <ul class="pagination justify-content-center">
        {% if articles_page.has_previous() %}
            {% set num = articles_page.previous_page_number() %}
            <li class="page-item"><a class="page-link" href="{{ SITEURL }}/{{ page_name }}.html">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" href="#" aria-disabled="true">&laquo;</a></li>
        {% endif %}

        {% set num_start = [articles_page.number - 2, 1] | max %}
        {% set num_end =  [articles_page.number + 2, articles_paginator.num_pages] | min %}
        {% for num in range(num_start, num_end + 1) %}
            <li class="page-item {{ 'active' if num == articles_page.number else '' }}"><a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
        {% endfor %}

        {% if articles_page.has_next() %}
            <li class="page-item"><a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" href="#" aria-disabled="true">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
