@import url('//fonts.googleapis.com/css?family=Tangerine:700');

.Tangerine{
    font-family: 'Tangerine', cursive;
}

.post-toc {
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    border-radius: 8px;
    font-weight: 500;
    padding: 1rem 2rem;
}

body.colorscheme-dark .post-toc {
    border: 1px solid #424242;
    background: #424242;
}

@media (prefers-color-scheme: dark) {
    body.colorscheme-auto .post-toc {
        border: 1px solid #424242;
        background: #424242;
    }
}

table {
    display: block;
    overflow-x: auto;
}

.content {
    overflow-wrap: break-word;
}

.content header {
    margin-top: 0rem;
}

#footnote-div p {
    margin: 0;
}

.footnote-hover {
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    max-width: 300px;
    overflow-wrap: break-word;
    font-size: 12px;
    font-size: max(.75rem, 12px);
    width: max-content;
    z-index: 9998;
}

body.colorscheme-dark .footnote-hover {
    border: 1px solid #424242;
    background: #424242;
}

@media (prefers-color-scheme: dark) {
    body.colorscheme-auto .footnote-hover {
        border: 1px solid #424242;
        background: #424242;
    }
}
