.post-toc {
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    border-radius: 8px;
    padding: 1rem 2rem;
}

body.colorscheme-dark .post-toc {
    border: 1px solid #424242;
    background: #424242;
}

@media (prefers-color-scheme: dark) {
    body.colorscheme-auto .post-toc {
        border: 1px solid #424242;
        background: #424242;
    }
}