@import url('https://fonts.googleapis.com/css?family=Tangerine:700');

.Tangerine{
    font-family: 'Tangerine', cursive;
}
body {
    font-size: 18px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #333 !important;
}
[data-theme='dark'] body {
    color: #ccc !important;
}

#theme-toggle-moon {
    display: block;
}
[data-theme='dark'] #theme-toggle-moon {
    display: none;
}
#theme-toggle-sun {
    display: none;
}
[data-theme='dark'] #theme-toggle-sun {
    display: block;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: var(--bs-gray-600);
  border: 5px solid var(--bs-light);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}
[data-theme='dark'] ::-webkit-scrollbar-thumb {
  border: 5px solid var(--bs-dark-light);
}